<div class="row">
    <div class="col-sm-9">
        <div class="pagination-div">
            <ul class="pager">
                <li class="previous" ng-if="currentPage != lastPage"><a href="/#/?query={{ currentPage + 1 }}">&laquo; Lama</a></li>
                <li class="next" ng-if="currentPage != 1"><a href="/#/?query={{ currentPage - 1 }}">Baru &raquo;</a></li>
            </ul>
        </div>
        <div class="list-artikel" ng-repeat="article in articles">
            <small class="text-right pull-right"></small>
            <h3><a href="/#/artikel/{{ article.urls }}"><i class="fa fa-th-large fa-fw"></i> {{ article.subject }}</a></h3>            
            <p>
                {{ article.snippet }}
            </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-model="searchfilter" placeholder="Carian artikel" />
            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        </div>
        <hr />
        <a href="https://github.com/eddy03/eddytech03" target="_blank" class="btn btn-block btn-sm btn-default">Sumber kod website <i class="fa fa-external-link fa-fw"></i></a>
        <a href="/#/log" class="btn btn-block btn-sm btn-default">Log perkembangan website</a>
        <hr />
        <a href="/#/laravel" class="btn btn-block btn-sm btn-primary">Tutorial Laravel</a>
        <a href="/#/bootstrap" class="btn btn-block btn-sm btn-primary">Tutorial bootstrap</a>
    </div>
</div>