body {}
html, body {
    height: 100%;
    width: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 60px; 
}
.site-footer {
    background: #333;
    color: #fff;
    padding-top: 10px;
}
.site-footer a {
    color: #0099FF;
}
.site-footer a img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

/* Make the masthead heading the same height as the navigation */
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.header h3 {
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 40px;
}
.header .text-muted a {
    color: #333;
}
.header .text-muted a:hover {
    text-decoration: none;
}

/* Main topic styles */
.main-topic {
    padding: 50px 0px;    
    background: #2c3e50;
    color: #fff;
}
.main-topic .page-header {
    margin: 0px;
}
.main-topic .page-header h1 {
    margin: 0px;
}

/* Main content block */
.main-content-block {
    margin-top: 20px;
}

/* Artikel listing */
.list-artikel {
    border-bottom: 4px double #eee;
    margin-bottom: 40px;
}
.list-artikel:last-child {
    border-bottom: none;
    margin-bottom: 40px;
}
.list-artikel i {
    color: #00aa00;
}
.list-artikel a {
    color: #000;
    text-transform: capitalize;
}
.list-artikel a:hover {
    text-decoration: none;
}

/* Artikel styling */
#disqus_thread {
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 100px;
}
.calendars {
    margin-bottom: 5px;
}

/* About me page image style */
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/* Custom table styling */
/* Portfolio */
.table-portfolio thead th {
    text-align: center;
}
.table-portfolio th:nth-child(1) {
    width: 40px;
}
.table-portfolio th:nth-child(2) {
    width: 160px;
}
.table-portfolio th:nth-child(4) {
    width: 90px;
}







.remove-margin {
    margin: 0px;
}
.navbar-fix-float {
    margin-right: 5px !important;
}
.between-two-form {
    padding-top: 5px;
}
.remove-top-margin {
    margin-top: 0px !important;
}
.articles {
    background: #fff;
    padding-bottom: 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 3px 2px 1px #ccc;
    box-shadow: 0 3px 2px 1px #ccc;
    margin-bottom: 15px;
}
.read-articles {
    background: #fff;
    padding: 5px 15px 25px 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 3px 2px 1px #ccc;
    box-shadow: 0 3px 2px 1px #ccc;
}
pre {
    background: #f4f4f4 !important;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.pagination>li>a, .pagination>li>span {
    background: #fff;
}
.pagination {
    margin: 0px;
}
.navbar-default .navbar-brand {
    color: #FFA500;
}
.blueme {
    color: #00526e;
}
.blueme:hover {
    color: #17a81d;
}
@-webkit-keyframes myfirst {
    0%   {color: #FFA500;}
    25%  {color: #7FFFD4;}
    50%  {color: #FF00FF;}
    75%  {color: #7FFF00;}
    100% {color: #FFA500;}
}
.infine-color-shif {
    -webkit-animation: myfirst 40s infinite;
}

